*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;

}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', Helvetica;
    margin: 0;
}

p {
    margin: 0;
}

main {
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 3px;
}

.main-w {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    padding: 40px;
    position: relative;
}

.main-ww {
    background-color: blue;
    backdrop-filter: blur(20px);
    display: flex;
    height: 100%;
    width: 100%;
}

.main-www {
    background-color: red;
    width: 350px;
}

.main-www {
    background-color: red;
    width: 350px;
}

.perfil {
    background-color: green;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:  20px;
}

.perfil__info {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.perfil__nombre p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.perfil__nombre span {
    font-size: 14px;
}

.navegacion {
    height: auto;
    padding: 30px 20px;
}

.nav-lista {
    counter-reset: nav;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-lista a {
    color: #ffff;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    transition: color .1s ease-in-out;
}

.nav-lista a::before {
    margin-right: 5px;
}

.nav-lista a:hover,
.nav-lista a:focus {
    color: black;
}

.nav-lista a.active {
    color: black;
}



